@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body, #root, .App{
	height:100vh;
	background-color:black;
}
.grid{
	width:500px;
	margin:0 auto;
	border:5px solid #0000ff;
	border-radius:20px;

	box-shadow: 0 0 30px #0000ff;
}
.grid .grid--row::after{
	content:'';
	display:block;
	clear:both;
}
.grid .grid--row .grid--row__coordinate{
	width:100px;
	height:100px;
	float:left;
	text-align:center;
	position:relative;
}
.pacman::before{
	content:'';
	height:80px;
	width:80px;
	background-color:#ffff00;
	display:block;
	border-radius:50%;
	position:absolute;
	top:10px;
	left:10px;
	
}
.pacman::after{
	content:'';
	display:block;
	border:40px solid transparent;
	position:absolute;
	top:10px;
	left:10px;
	
}
.north .pacman::after{
	border-top-color:#000000;
}
.east .pacman::after{
	border-right-color:#000000;
}
.south .pacman::after{
	border-bottom-color:#000000;
}
.west .pacman::after{
	border-left-color:#000000;
}

.controller{
	width:500px;
	margin:0 auto;
	text-align:center;
	padding-top:50px;
}

.controller button{
	outline:none;
	border:none;
	color:#0000ff;
	background-color:#000000;
	font-size:24px;
}
.controller .joystick{
	display:inline-block;
	position:relative;
	width:15px;
	height:100px;
	background-color:#aaaaaa;
	margin-top:10px;
}
.controller .joystick::before{
	content:'';
	display:block;
	width:50px;
	height:50px;
	background-color:#ff0000;
	border-radius:50%;
	position:absolute;
	top:-5px;
	left:-17px;
}
.controller .joystick::after{
	content:'';
	display:block;
	width:10px;
	height:10px;
	background-color:#ffffff;
	border-radius:50%;
	position:absolute;
	z-index:5;
	left:8px;
}

h1{
	font-family: 'Monoton', cursive;
	font-weight:400;
	font-size:72px;
	margin:0;
	text-align: center;
	color:#0000ff;
}
h2{
	font-family: 'Monoton', cursive;
	font-weight:400;
	font-size:40px;
	margin:0;
	text-align:center;
	color:#ffff00;

	border:5px solid #0000ff;
	border-radius:20px;

	box-shadow: 0 0 30px #0000ff;
	margin-top:50px;
	margin-bottom:50px;
}
p{
	font-family: 'Montserrat', sans-serif;
}